.center {
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
}

.button-container{
    margin-top: 30px;
}

.form-items{
    margin-top: 30px;
}

h3 {
    margin: 0;
    font-family: "Candara";
    color: #fa9c1c;
    font-weight: bolder;
}

.create-account{
    margin-top: 30px;
    p{
        font-size: 12px;
    }

    .beer{
        color: #fa9c1c
    }
}

.finger-print{
    margin-top: 50px;
}