<ion-header>
  <ion-toolbar>
    <ion-title>My Beers</ion-title>
    <ion-button class="no-color" (click)="presentPopover($event)" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="filter-container" *ngIf="filterValue && filterValue !== 'nil'">
    <ion-item>
      <ion-label slot="end">
        <h4>Filter by {{filterValue}}</h4>
      </ion-label>
      <ion-button fill="outline" slot="start" (click)="presentServFlavPopover($event)">
        <ion-icon name="funnel" mode="ios"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  
  <div class="beer-items-container" *ngFor="let item of feedItems">
    <div class="beer-item flex-row" (click)="openBeerItem(item)">

      <div class="left">
        <img class="view-icon" *ngIf="item.serving_type == 'Bottle'" [src]="beerIcon" alt="">
        <img class="view-icon" *ngIf="item.serving_type == 'Draft'" [src]="draftIcon" alt="">
      </div>
  
      <div class="center">
        <h5 class="title">{{item.beer_name}}</h5>

        <div class="rating-container">
          <star-rating [value]="item.rating" totalstars="5" checkedcolor="#fa9c1c" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
        </div>
      </div>
  
      <div class="right">
        <div class="badge-container">
          <ion-badge class="badge" color="secondary">{{item.price | currency}}</ion-badge>
        </div>
        <div class="badge-container">
          <ion-badge class="badge">{{item.created_on |  date:'shortDate'}}</ion-badge>
        </div>
      </div>
    </div>
  
  </div>

</ion-content>

