<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/view-all"></ion-back-button>
    </ion-buttons>
    <ion-title>{{beerItem.beer_name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="beer-type-container">
    <ion-button color="secondary" class="beer-type-button" fill="outline" shape="round">
      <img class="beer-img" src="../../../../assets/icon/pick-icons/bottle-pick.png">
    </ion-button>
  </div>

  <div class="rating-container">
    <h5>{{beerItem.beer_name}}</h5>
    <star-rating [value]="beerItem.rating - 1" totalstars="5" checkedcolor="#fa9c1c" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
  </div>

  <div class="detail-container">

    <ion-item>
      <ion-label slot="start">
        Brewer
      </ion-label>
      <ion-text>{{beerItem.brewer}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label slot="start">
        Date Created
      </ion-label>
      <ion-text>{{beerItem.created_on |  date:'shortDate'}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label slot="start">
        Price
      </ion-label>
      <ion-text>{{beerItem.price | currency}}</ion-text>
    </ion-item>
    <ion-item>
      <!-- <ion-textarea rows="10" disabled="true" [value]="beerItem.description"></ion-textarea> -->
      <ion-text><p class="tab">{{beerItem.description}}</p></ion-text>
    </ion-item>

  </div>


</ion-content>
