<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/view-all"></ion-back-button>
    </ion-buttons>
    <ion-title>beer-detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="beer-type-container">
    <ion-button color="secondary" class="beer-type-button" fill="outline" shape="round">
      <img class="beer-img" src="../../../../assets/icon/pick-icons/bottle-pick.png">
    </ion-button>
  </div>

  <div class="rating-container">
    <h5>Guinness</h5>
    <star-rating value="4" totalstars="5" checkedcolor="#fa9c1c" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
  </div>

  <div class="detail-container">

    <ion-item>
      <ion-label slot="start">
        Brewer
      </ion-label>
      <ion-text>jdnvjfnbifbmofmfsb</ion-text>
    </ion-item>
    <ion-item>
      <ion-label slot="start">
        Date Created
      </ion-label>
      <ion-text>21/01/05</ion-text>
    </ion-item>
    <ion-item>
      <ion-label slot="start">
        Price
      </ion-label>
      <ion-text>$ 12.80</ion-text>
    </ion-item>
    <ion-item>
      <ion-textarea rows="10" placeholder="nunbjfnjbfhbvjsdvjfsbjbfjbbfjbjfbjvfbsjbsjvbsjdvbjdsbjd"></ion-textarea>
    </ion-item>

  </div>


</ion-content>
